{{ dump(_context) }}
<!DOCTYPE html>
<html>
    <head>
        <title>Page de listings des posts</title>
		<style>
				.menuDuJour {background-color: powderblue;}
				h1   {color: blue;}
				p    {color: red;}
		</style>
    </head>
    <body>
		<h1>Hello {{ utilisateur.name }} !</h1>	
		<br />
			<a href="{{  url('urldebase') }}listingPosts?affichermenus=true" >Afficher uniquement les news avec menu</a>
		<br/>
			<a href="{{  url('urldebase') }}listingPosts" >Afficher toutes les news </a>
		</p>
		Voici la liste des 15 derniers posts pour la page IlotRegal et pour la page :
		<ul>
		{% if listeMessages is defined %}
			{% for messages in listeMessages %}
				<li {% if messages.menuduJour is defined %} class="menuDuJour"  {% endif %}>{{ messages.message|e }}</li>
			{% endfor %}
		{% endif%}
		</ul>
		et les derniers posts pour la page Régal du circuit :
		<ul>
		{% if listeMessages2 is defined %}
			{% for messages in listeMessages2 %}
				<li{% if messages.menuduJour is defined %} class="menuDuJour"  {% endif %}>{{ messages.message|e }}</li>
			{% endfor %}
		{% endif%}
		</ul>
		
		{% if logoutUrl is defined %}
			<br />
				<a href="{{ logoutUrl }}" target="_blank">Se déconnecter</a>
			</p>
		{% endif %}
		
	
    </body>
</html>